<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro '$(find mybot)/urdf/robot.urdf.xacro'"/>

    <arg name="rviz_config_file" default="$(find mybot)/config/mybot.rviz" />
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)" />


</launch>